{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type = "text/css" href="{% static 'css/style2.css' %}">

</head>
<body>
    <header>
        <h3>CAMERAS, BABY</h3>
        <ul>
            <li><a href = "/about">About</a></li>
            <li><a href = "{% url 'camera_create' %}">New Cam</a></li>
            <li><a href = "{% url 'gear_create' %}">Add Gear</a></li>
            <li><a href = "/">All Cameras</a></li>
        </ul>
    </header>
    <div class="mainContent">
       {% block content %}
       {% endblock %}
    </div>
</body>
</html>