{% extends 'base.html' %}

{% block content %}
        <h2>Camera name: {{camera.name}}</h2>
        <ul >
            <li>Camera resolution: {{camera.resolution}}</li>
            <li>Camera price: ${{camera.price}}</li>
        </ul>
        <a href="{% url 'camera_update' camera.id %}"><button>EDIT</button></a>
        <a href="{% url 'camera_delete' camera.id %}"><button>DELETE</button></a>
        <hr>
        <h3>Add Photo!</h3>
        <form action="{% url 'photo_add' camera.id %}" method="POST">
            {% csrf_token %}
            {{photo_form.as_p}}
            <input type="submit" value = "Submit New Photo">
        </form>

        {% for pic in photos %}
        <div class="image-container">
            <img style = "height: 300px; width: 300px; object-fit: cover" src="{{pic.url}}" alt="">
            <a href="{% url 'delete_photo' pic.id %}"><div id="deleteButton">X</div></a>
        </div>
        {% endfor %}
        


{% endblock %}