@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');

body  {
    background-color: rgb(249, 249, 249);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: "Montserrat";
    color: black;
}

.mainContent {
    height: 100vh;
    margin: 50px 10% 0 10%;
}

header {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(32, 141, 68);
}

header ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    color: inherit;
}

header a {
    text-decoration: none;
    color: inherit;
}

.cardHolder {
    width: 100%;
    height: 100vh;
    display: flex; 
    flex-wrap: wrap;
}

.card {
    position: relative;
    display: block;
    height: 200px;
    width: 200px;
    margin: 15px;
    padding: 15px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 15px grey;
    transition: all 200ms ease-in-out;
    overflow: hidden;

    }

.card:hover {
    transform: scale(105%);
}

#cardImage {
    height: 200px;
    width: 200px;
    object-fit: cover;
    position: absolute;
    opacity: 0.2;
}

a {
    text-decoration: none;
    color: inherit;
}

.image-container{
    margin: 7px 7px 7px 7px;
    box-shadow: 0px 0px 5px grey;
    position: relative;
    display: inline-block;
}

#deleteButton{
    position: absolute;
    right:0;
    top:0;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background-color: black;
    color: white;
    padding: 5px;
    display: flex;
    align-items: center;
}

.bottomRow {
    display: flex;
    margin-left: 30%;
    gap: 100px;
}
