body  {
    background-color: black;
}
header {
    display: flex;
    flex-direction: row;
    background-color: blue;
}

ul {
    display: flex;
    list-style-type: none;
    display: block;
}

h3 {
    font-size: 5em;
}